<div class="formbgimg">
<div class="formsize2">
  <form class="formsignuplogin" method="POST" action="/auth/login" class="vstack gap-3">
      <label>Username: <input class="input" type="text" name="username" /></label>
      <label>Password: <input class="input" type="password" name="password" /></label>
      <button class="button2" type="submit" class="btn btn-secondary">LogIn</button>
    </form>
    </div>
  </div>

<img src="../images/miguel.png" class="miguel2">
<img src="../images/nomin.png" class="nomin2">
<img src="../images/leila.png" class="leila2">