<div class="formbgimg">
<div class="formsize">
  <form class="formsignuplogin" method="POST" action="/auth/signup">
    <p>Create Your Account</p>
    <label>Username <input class="input" type="text" name="username" <% if (typeof errorMessage !== 'undefined' && typeof userData !== 'undefined') { %> value="<%= userData.username %>" <% } %> /></label>
  
    <label>Email <input class="input" type="text" name="email" required <% if (typeof errorMessage !== 'undefined' && typeof userData !== 'undefined') { %> value="<%= userData.email %>" <% } %> /></label>
  
    <label>Password <input class="input" type="password" name="password" required /></label>
    <button class="button2" type="submit">SignUp</button>
  </form>
  <% if (typeof errorMessage !== 'undefined') { %>
    <p style="color: red"><%= errorMessage %></p>
  <% } %>
  <% if (typeof errorMessage !== 'undefined') { %>
  <p style="color: red"><%= errorMessage %></p>
  <% } %>
  </div>
</div>

<img src="../images/miguel.png" class="miguel">
<img src="../images/nomin.png" class="nomin">
<img src="../images/leila.png" class="leila">
