<html>
<section>
<div class="topcontainer">
<head>
  <title>Pawsitive Pets</title>
</head>
<body>
    <div class="flex container">
    <div class="homePageTitle">
    <h1> The only pet website you will ever need! </h1>
    
      <div class="homePagebottom">
      <form action="/auth/signup">
      <button class="signupbutton" type="submit"> Create Your Profile  > </button>
    </form>
   </div>
</div>
   <div class="homePageImg">
    <img src="/images/homepageimg.png" alt="" width="500" height="500" />
</div>
  </div>
</div>
</div>

</body>
</section>
<br>
<section>
<div class="section2Text">
    <blockquote class="blockquote mb-0">
    <p>"Pets are humanizing. They remind us we have an obligation and responsibility to preserve and nurture and care for all life."</p>
    <footer class="blockquote-footer"> James Cromwell <cite title="Source Title"></cite></footer>
    </blockquote>
</div>
</section>
<article>
    <div class="homePageImg2">
        <img src="/images/homepageimg2.png" alt="" width="500" height="500" />
    </div>
    <h2>About Us</h2>
<div class="section3Text">
    <p>We are here to make taking care of your pet easier.
        Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Antarctica!
        Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Antarctica!
        Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Antarctica!
        Geckos are a group of usually small, usually nocturnal lizards. They are found.
    </p>
 </div>
</article>
<div class="footer">
    <footer>
        <div class="footer2">
            <div class="container2">
                        <div class="row">
                          <div class="col">
                          <p class="footer2text">Copyright © 2023 Pawsitive Pets </p>
                        </div>
                    </div>
                </div>
          </div>
   </footer>
</div>
</html>

