<div class="profile-container">
    <h1 class="profile-header">How are you today <%= user.username %>?</h1>
    <div class="icons">
        <img src="../images/plus.svg" alt="">
        <a href="/profile/addpet">Add Pet</a>
    </div>


    <div class="icons" >
        <img src="../images/paw.svg" alt="">
        <a href="/profile/mypets">My Pets</a>
    </div>
</div>